ion-content{
    --ion-background-color: transparent;
}

.bg-color{
    background: #E1EAF9 ;
}

ion-header{
    position: absolute;
}



ion-card{
    --ion-background-color:transparent;
    box-shadow: none !important;
}

ion-card-title{
    margin-top:50px !important;
    font-size:25px;
    color: #53565A;
    font-weight: 600;
    text-align: start;
}

ion-card-subtitle{
    text-align: start;
    padding-top: 10px !important;
    font-size: 13px;
    color: #888C91;
    font-weight: 400;
    text-transform: none;

}

ion-item{
    padding-top: 10px;
    color:#74787E;
    --border-color: #D4D7DB; 
    --highlight-color-focussed: #215AB7;
    --padding-start: 0;
    --inner-padding-end:0;
    font-size: 13px;
    ion-input{
        color:#74787E;
        font-size: 13px;
        ion-icon{
            padding-right: 12px;
            font-size: 18px;
    }
}

ion-input:hover{
    color: #215AB7;
}

}


