<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
   <p>Escoger Clientes</p>
    <ion-buttons slot="end">
      <ion-button  (click)=" onClickCLose()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content fullscreen>

    <ion-list>
      <ion-item (click)="showToast()">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>
          <h2>Si</h2>
          <p>Enviar una invitación a todos.</p>
        </ion-label>
      </ion-item>
      
      <ion-item (click)="goClientsCheck()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
        <ion-label>
          <h2>Si</h2>
          <p>Pero sólo a algunos</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="goCancelInvitation()">
            <ion-icon name="close-circle-outline"></ion-icon>
        <ion-label>
          <h2>No</h2>
          <p>Cancelar envío</p>
        </ion-label>
      </ion-item>
    </ion-list>

    
  </ion-content>
