<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
   <p>Información</p>
   <ion-buttons slot="end">
    <ion-button  (click)="onClickCLose()">
      <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="medicel-home-header" >
      <ion-img src="assets/images/world.jpg" ></ion-img>
    </div>

  </ion-toolbar>
</ion-header> -->

<ion-content>
  
<div class="container">
  <img src="assets/images/desayuno.png" alt="Cinque Terre" width="1000" height="300">
  <div>
  <ion-buttons class="topleft">  
    <ion-button  (click)="onClickCLose() " >
      <ion-icon slot="icon-only"name="arrow-back-outline" style="color: white; font-size: 50px;"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>
  
</div>

  <!-- <div>
    <ion-buttons slot="end">
      <ion-button  (click)="onClickCLose()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/images/desayuno.png" style="border-radius:0px 0px 35px 35px !important;" >
    
  </div> -->

  <!-- <div >
    <ion-title>Desayuno</ion-title>
  </div> -->

  <div class="event-name" >
    <div class="div-date">
      <p>SEP <br> 25</p></div>
    <div>
      <p>Hoy - En cruso</p>
      <p class="hour-event">08:00 - 10:30AM</p>
    </div>
    <div>
    </div>
  </div>

  <div class=" buttons-invitation">
    <button (click)="goAssistants()">Ver asistentes<br>Actuales(15)</button>
    <button (click)="goWorkers()">Ver trabajadores<br>Actuales(22)</button>
  </div>

  <div class="about">
    <!-- <ion-title>Sobre</ion-title> -->
    <p>Pan, cereales, galletas, tostadas, crepes
      (Hot Cakes) etc.., diversidad de lacte...
    </p>
    <p class="button-read">Leer mas...</p>
  </div>




  <div class="maps"  style="border-radius: 15px;">

    <ion-img  class="img-maps" src="assets/images/maps.png"></ion-img> 
  </div>

  <div class="widgets">

    <div class="div-red">
      <p>Capacidad</p>
      <p class="p-red">250</p>
    </div>
    <div class="div-blue">
      <p>Inscritos</p>
      <p class="p-blue">10</p>
    </div>
    <div class="div-green">
      <p>Vacunados</p>
      <p class="p-green">100%</p>
    </div>

  </div>
</ion-content>
