.organizer, .widgets{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.event-name{
    display: flex;
    padding: 20px;

    .div-date{
        text-align: center;
    }
    .hour-event{  
        color: rgb(143, 143, 143);
    }
}

ion-title {
    margin-top: 10px;
    color: rgb(143, 143, 143);
    font-weight: 400;
}

.buttons-invitation{
    display: flex;
    justify-content: space-evenly;

    button{
        margin-top: 10px;
        width: 150px;
        height: 50px;
        background-color: #215AB7;
        border-radius: 15px;
        color: #ffffff;
        font-size: 0.9pc;

    }
}

.about{

    p, button{
        margin-left: 20px;
    }

    p{
        color: gray;

    }
    .button-read{
        color: #215AB7;
        font-size: 0.9em;
        font-weight: 900;
        margin-top: 10px;
    }
}

p{
    margin-block-start: 0.3em;
    margin-block-end: 0em;
    color: rgb(83, 83, 83);
}

.div-date{
    margin-right:12px ;
    width: 50px;
    border-radius: 10px;
   background-color: #215AB7;
   color: white;
   display: flex;
   justify-content: center;

   p{
       color: white !important;
   }
}



.maps{
    text-align: -webkit-center;
    margin-top: 20px;
}

.img-maps{
    width: 90% !important;
}

.widgets{
    div{
    width: 100px;
    height: 100px;
    border-radius: 15px;

    p{
        text-align: center;
    }
}

}

.div-red{
    border: solid 1px #F66D6D;
}

.div-blue{
    border: solid 1px #216AA8; 
}

.div-green{
    border: solid 1px #29B41A; 
}


.p-red{
    color:#F66D6D;
    font-size: 2pc;
}

.p-blue{
    color: #216AA8;
    font-size: 2pc;
}

.p-green{
    color: #29B41A;
    font-size: 2pc;

}