<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <p>Asistentes del Evento</p>
    <p> 15 de 50</p>
    <ion-buttons slot="end">
      <ion-button (click)="goDetailsEvent()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ng-container *ngFor="let participant of participantList, let participantIndex = index">
      <ion-item *ngIf="participant.name">
        <!-- <ion-avatar slot="start">
        <img src="assets/images/valeria.jpg">
      </ion-avatar> -->
        <ion-label>
          <h3>{{participant.name}} {{participant.surname}}</h3>
          <p style="opacity: .7;">{{participant.email}}</p>
          <div>
            <p *ngIf="participant.questions[2]">{{getNumDose(participant.questions[2])}}</p>
            <p class="n-testado">No Testado</p>
          </div>
        </ion-label>
      </ion-item>

    </ng-container>


  </ion-list>

</ion-content>

<ion-spinner *ngIf="spinnerVisibility"
  style="position: absolute; z-index: 99; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0);">
</ion-spinner>