<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      2 de 6
    </ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="onClickCLose()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-color">

  <ion-card class="ion-margin">

    <ion-card-header>
      <ion-card-title>
        Fecha del Evento
      </ion-card-title>

      <ion-card-subtitle>
        Lorem ipsum dolor sit amet, consectetur adipiscing.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        
        <ion-label position="floating">DD/MM/YYYY</ion-label>
        <ion-datetime [(ngModel)]="event.eventData.date"
            displayFormat="DD/MM/YYYY" 
            min="1900-03-14" 
            max="2020-12-09"
            >
        </ion-datetime>
      </ion-item>
    </ion-card-content>

  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goEventHour()">

      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
