<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
   <p>Trabajadores del Evento</p>
    <p> 15 de 50</p>
    <ion-buttons slot="end">
      <ion-button  (click)="goDetailsEvent()">
        <ion-icon slot="icon-only"name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/valeria.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Valeria Ballester Batalla</h3>
          <div>
          <p>1 Dosis -</p>
          <p class="n-testado">No Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/emiliano.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Emiliano de Aznar</h3>
        <div>
          <p>2 Dosis -</p>
          <p class="testado">Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/rosa.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Rosa María Díez Vilar</h3>
        <div>
          <p>1 Dosis -</p>
          <p class="testado">Testado</p>
        </div>
      
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/rodolfo.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Rodolfo Pablo</h3>
        <div>
          <p>2 Dosis -</p>
          <p class="n-testado">No Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/soledad.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Soledad Pombo Galindo</h3>
        <div>
          <p>1 Dosis -</p>
          <p class="testado">Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/angel.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Ángel Amorós Vazquez</h3>
        <div>
          <p>2 Dosis -</p>
          <p class="n-testado">No Testado</p>
        </div>
    
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/hernando.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Hernando Solera Salmerón</h3>
        <div>
          <p>2 Dosis -</p>
          <p class="n-testado">No Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/anabel.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Anabel Prado Roldán</h3>
        <div>
          <p>1 Dosis -</p>
          <p class="testado">Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/valeria.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Valeria Ballester Batalla</h3>
        <div>
          <p>2 Dosis -</p>
          <p class="n-testado">No Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/emiliano.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Emiliano de Aznar</h3>
        <div>
          <p>1 Dosis -</p>
          <p class="testado">Testado</p>
        </div>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/rosa.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Rosa María Díez Vilar</h3>
        <div>
          <p>1 Dosis -</p>
          <p class="testado">Testado</p>
        </div>
      </ion-label>
    </ion-item>

    
    
  </ion-list>



</ion-content>