<ion-content padding class="background">
  <ion-card class="ion-no-margin" style="border-radius: 0;">
    <ion-img src="assets/images/header.svg"></ion-img>
    <ion-card-content>
      <div class="wrapform">
        <ion-item>

          <ion-input type="text" name="email" placeholder="isaac_medina" [(ngModle)]="email" required>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password " name="password" placeholder="********" [(ngModle)]="email" required>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-input>
        </ion-item>
      </div>
      <div class="password_forgot">
        <ion-button (click)="goPassword()" fill="clear" class="ion-no-padding">¿Olvidaste tu contraseña?</ion-button>
      </div>
      <div class="sign-btn-wrap">
        <ion-button (click)="goEvent()" text="" shape="round" fill="solid" class="sgn-btn">Entrar</ion-button>

      </div>

    </ion-card-content>

  </ion-card>


  <div class="ion-card-footer">
    <span>¿No tienes cuenta?</span><button class="ion-no-padding">Registrate</button>
  </div>

</ion-content>