<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="medicel-home-header" >
      <ion-img src="assets/images/world.jpg" ></ion-img>
    </div>

  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div>
    <img src="assets/images/opera.jpg" style="border-radius:0px 0px 35px 35px !important;" >
  </div>
  <div >
    <ion-title>El fantasma de la ópera</ion-title>
  </div>

  <div class="event-name" >
    <div class="div-date">
      <p>JUL <br> 10</p></div>
    <div>
      <p>Martes</p>
      <p  class="hour-event">10:00 | 12:00PM</p>
    </div>
    <div>
    </div>
  </div>

  <div class=" buttons-invitation">
    <button>Enviar invitación <br> a trabajadores</button>
    <button>Enviar invitación <br> a clientes</button>
  </div>

  <div class="about">
    <ion-title>Sobre</ion-title>
    <p>La obra está inspirada en hechos reales
      y en la novela Trilby de George du Ma...
    </p>
    <p class="button-read">Leer mas...</p>
  </div>




  <div class="maps">

    <ion-img class="img-maps" src="assets/images/maps.png"></ion-img> 
  </div>

  <div class="widgets">

    <div class="div-red">
      <p>Capacidad</p>
      <p class="p-red">250</p>
    </div>
    <div class="div-blue">
      <p>Inscritos</p>
      <p class="p-blue">10</p>
    </div>
    <div class="div-green">
      <p>Vacunados</p>
      <p class="p-green">100%</p>
    </div>

  </div>
</ion-content>
