// ion-content{
//     --ion-background-color: 
// ion-card{
//     --ion-background-color:transparent;
//     box-shadow: none !important;
// }transparent;
// }

.bg-color{
    background: #E1EAF9 ;
    
}



ion-item .item-native .item-inner {
    border: none!important;
 }

// // ion-header{
// //     position: absolute;
// // }

 h2{
   
     font-size: 14px;
     font-weight: 600;
     color: #53565A;
 }



 h4{
  font-size: 15px;
    
 }


.title-div{
    margin-top:24px !important;
    margin-bottom:1oki4px;
    font-size:16px;
    color: #53565A;
    font-weight: 600;
    text-align: start;

}

ion-icon{
    color: #4c8dff;
}
